{% extends "base.html" %}
{% block title %}
    {{super()}}
    about us
{% endblock title%}

{% block page_content %}
<div class="page-header">
	<h3 class = "text-info">Our History</h3>
	<p>In the early days of the colonial era in Kenya, the colonialists believed that Africans should not be allowed an education beyond the basic level as they would not benefit from any higher education. The rationale was that Africans were only useful as a source of cheap labour. Missionaries who had been arriving in the country from the beginning of the 20th century strongly opposed this idea. The missionaries had been trying to set up primary schools to provide basic education to Africans, but they faced challenges due to lack of funding. Dr. John Arthur, who was in charge of the Kikuyu mission arranged for a conference with other Protestant missions to address these problems. The first meeting took place in 1913 in Kikuyu. Later in the year 1918, the Alliance of Protestant Missions was formed comprising the Church of Scotland Mission, Church of the Province of Kenya, the African Inland Mission, the Friends Church (Quakers) and the Methodist Church.
	</p>
	<p>
Dr. Arthur pushed the British government to open education to Kenyans and all Africans in all colonies. He believed that Kenyans should be given access to primary, secondary and tertiary level education as a matter of right. His efforts bore fruit when the Devonshire White Paper was written in 1923. This meant that Africans were also entitled to a quality education. Dr. Arthur realized the need to have new institutions set up. He worked tirelessly, without the government's backing to establish a high school for Africans in Kikuyu. The school was finally established on 1 March 1926 under the auspices of the Alliance of Protestant Missions. Thus, the Alliance High School was born.
	</p>
	<p>
	Alliance High School (or AHS) popularly known as “Bush”, was the first school in Kenya to offer secondary school education to Africans. It was founded on 1 March 1926 by the <span class = "text-primary">Alliance of Protestant Churches : </span>
	<ul>
		<li>The Church of Scotland Mission (later known as the Presbyterian Church of East Africa or PCEA)</li>
		<li>Church of the Province of Kenya (CPK)</li>
		<li>African Inland Church (AIC)</li>
		<li>The Methodist Church</li>
		<li>Friends Church (Quackers)</li>
	</ul>
	</p>
	<img class = "img-rounded" style = 'width : 100%; height : auto;' src = "{{url_for('static', filename = 'old_school.jpeg')}}">
	<p>
	The school is situated in Kikuyu, about 22 kilometers (12 miles) from Nairobi’s central business district. The school is a 10-minute walk from the Alliance Girls’ High School, its sister school.
It has always been ranked within the top ten best schools in each year’s National Examinations. It was ranked first in the country from 1960-85. In 1986 it lost its top ranking for the first time in 25 years, slipping to third. It was ranked first in the country in 2005 based on the results of the Kenya Certificate of Secondary Education(KCSE). In 2006 its rank dropped to third. In 2009 and 2010, the school emerged top in the KCSE results posting sterling performance. In 2011, the school dropped one place to second.
	</p>

	<hr>
	<table class =  "table table-hover table-responsive table-striped">
                <caption>
                        <h3>Historical Facts</h3>
		</caption>
                <tbody>
                        <tr>
                                <td>First Student</td>
                                <td>Johnstone Muigai</td>
                        </tr>
			<tr>
				<td>First Muslim Student</td>
				<td>Mohammed Hassan</td>
			</tr>
			<tr>
                                <td>First School Captain</td>
				<td>Clement Phillips</td>
			</tr>
			<tr>
                                <td>First African School Captain</td>
				<td>Herbert Siwale</td>
			</tr>
			<tr>
                                <td>First Black Master</td>
				<td>Eliud Mathu</td>
			</tr>
			<tr>
                                <td>First Female Student</td>
				<td>Zubia Wangari</td>
			</tr>
			<tr>
                                <td>First Principal</td>
				<td>George Arthur Grieve</td>
			</tr>
			<tr>
                                <td>Last Female Student</td>
				<td>Rebecca Wanjau</td>
			</tr>
			<tr>
                                <td>Shortest Serving School Captain</td>
				<td>Shinaya Tsumbi</td>
			</tr>
			<tr>
                                <td>Longest Serving School Captain</td>
				<td>Shem Oduor</td>
			</tr>
			<tr>
                                <td>Shortest Serving Deputy School Captain</td>
				<td>Shinaya Tsumbi</td>
			</tr>
			<tr>
                                <td>Shortest Serving Principal</td>
				<td>Francis Ndirangu</td>
			</tr>
			<tr>
                                <td>Longest Serving Principal</td>
				<td>Carey Edward Francis</td>
			</tr>
			<tr>
				<td>Longest Serving Deputy Principal</td>
				<td>James S. Smith</td>
			</tr>
			<tr>
                                <td>Longest Serving Master</td>
				<td>James S. Smith</td>
			</tr>
			<tr>
                                <td>Longest Serving Black Master</td>
				<td>B. K. Syambo</td>
			</tr>
			<tr>
                                <td>Oldest House</td>
				<td>Livingstone House</td>
			</tr>
			<tr>                                                                                              <td>Highest Point</td>
				<td>Water Closet</td>
			</tr>
			<tr>                                                                                              <td>Lowest Point</td>                                                                     <td>Modern Complex</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<table class =  "table table-hover table-responsive table-striped">
		<caption>
			<h3>Daily Routines - post covid-19</h3>
		</caption>
		<thead class = "thead-dark">
			<tr><th>Time</th><th>Activity</th></tr>
		</thead>
		<tbody>
			<tr>
				<td>4.45 AM</td>
				<td>Warning Bell for Waking Up</td>
			</tr>
			<tr>                                                                                        <td>5.00 AM</td>
				<td>Morning Preps</td>
			</tr>
			<tr>
				<td>6.00 AM</td>
				<td>Morning Work</td>
			</tr>
			<tr>
				<td>6.50 AM</td>
				<td>Breakfast</td>
			</tr>
			<tr>
				<td>7.15 AM</td>
				<td>Morning Registration</td>
			</tr>
			<tr>
				<td>7.30 AM</td>
				<td>Parade and Chapel Devotion</td>
			</tr>
			<tr>
				<td>7.55 AM</td>
				<td>Staff Briefs</td>
			</tr>
			<tr>
				<td>8.10 AM</td>
				<td>Morning Lessons</td>
			</tr>
			<tr>
				<td>9.30 AM</td>
				<td>Short Break</td>
			</tr>
			<tr>
				<td>9.35 AM</td>
				<td>Morning Lessons</td>
			</tr>
			<tr>
				<td>10.55 AM</td>
				<td>Tea Break</td>
			</tr>
			<tr>
				<td>10.15 AM</td>
				<td>Mid-morning Lessons</td>
			</tr>
			<tr>
				<td>12.40 PM</td>
				<td>1st Shift Lunch (Form 1 and 3)</td>
			</tr>
			<tr>
				<td>1.20 PM</td>
				<td>2nd Shift Lunch (Form 2 and 4)</td>
			</tr>
			<tr>
				<td>2.10 PM</td>
				<td>Afternoon Lessons</td>
			</tr>
			<tr>
				<td>4.20PM</td>
				<td>Games (Clubs and Societies exclusively on Tuesdays)</td>
			</tr>
			<tr>
				<td>5.40 PM</td>
				<td>1st Shift Supper (Form 1 and 2)</td>
			</tr>
			<tr>
				<td>6.20 PM</td>
				<td>2nd Shift Supper (Form 3 and 4)</td>
			</tr>
			<tr>
				<td>7.00 PM</td>
				<td>Evening Preps</td>
			</tr>
			<tr>
				<td>9.30 PM</td>
				<td>End of Night Preps</td>
			</tr>
			<tr>
				<td>10.15 PM</td>
				<td>Lights Out (Junior Boys)</td>
			</tr>
			<tr>
				<td>11.00 PM</td>
				<td>Lights Out (Senior Boys)</td>
			</tr>
		</tbody>
	</table>
	
	<hr>

	<table class = "table table-hover table-responsive table-striped">
		<caption><h3>notable alumni</h3></caption>
		<thead class = "thead-dark">
			<tr>
				<th>Name</th>
				<th>Admission No.</th>
				<th>House</th>
				<th>Achievements</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<h3 class = "text-info">Performance and ranking</h3>
	<img class = "img-rounded" style = 'width : 100%; height : auto;' src = "{{url_for('static', filename = 'sanguins.jpg')}}">
	<p>
	The school is the highest performing high school in the country academically, always being ranked among the top 10 positions every year.[3] The school holds the country record for most consecutive years holding the pole position in the national exams(1960-1985) . In the K.C.S.E results announced in 2011, the school emerged top in the country. In that same year, the school had more than 100 students scoring a mean grade of A in the national exams. In 2009 and 2010, the school emerged top in the K.C.S.E results posting sterling performance. In 2011, the school was ranked second.
	</p>
	<p>
	Every year, <span class = "text-primary">over 98% of the school's graduates get admission to Kenyan universities.</span> Some Alliance High alumni have proceeded to join various universities around the world such as <span class = "text-primary">Harvard, Yale, Brown, Stanford, Duke University, Williams College, Tufts University, Northwestern</span> and <span class = "text-primary">MIT</span>. Others go on to attend universities in Australia, China, Japan, Malaysia, South Africa, the United Kingdom among other countries.
	</p>
	<h3 class = "text-info">Faith</h3>
	<img class = "img-rounded" style = 'width : 100%; height : auto;' src = "{{url_for('static', filename = 'chapel.jpg')}}">
	<p>
	Having been founded by Christian missionaries, the school holds Christian values with high esteem. For instance, the school's badge is embodied with the cross, students say grace before partaking any meal and there is a daily Chapel Service (except on Saturdays) which is compulsory for all Christian students.
	</p>
	<p>
However, being a national school that draws students from all over the country, Alliance High School has a small population of non-Christian students, mostly Muslims. These students have the liberty to practise their faith. When the Christian students attend the daily morning chapel service, Muslim students congregate separately to carry out a religious service of their own. Although there is no permanent mosque in the school, there is always a room set aside that serves as a mosque. Due to Islamic Sharia dietary requirements, Muslim students have separate tables in the dining hall.
	</p>
	<p>
	The school has an anthem which is sang to mark the end of special occasions such as the Founders day, Speech Day or the closing parade of the term. The anthem can also be sang when there is an occasion to celebrate, such as when the K.C.S.E results are released. The anthem is a rendition of hymn 578 of the <span class = "text-primary">Lutheran Hymnal</span>, Lord, While for All Mankind We Pray
	</p>
	<h3 class = "text-info">Sports</h3>
	<p>
	The school is a participant in the national sports festival. The following games are offered at the school: <span class = "text-primary">athletics, badminton, basketball,baseball, football (soccer), handball, hockey, lawn tennis, rugby football, swimming</span> and <span class = "text-primary">table tennis</span>.
</p>
<p>
The school has three basketball courts, two football pitches, two hockey pitches, a swimming pool, a handball field, an athletics track and a gymnasium with table tennis table.
	</p>
	<p>
The school's routine includes a games period every weekday from 16:30hrs to 17:40hrs. On Tuesdays the program is suspended for clubs’ and societies’ meetings. There are inter-house sports competitions spread across the three school terms.
	</p>
	<p>
During the second school term, a mini Olympics is held in the school. During this event, the thirteen houses compete against each other in track and field events. The winning house receives the Standards Trophy and gets to feast on a bull during the end of term school dinner.
	</p>
	<p>
There is also a <span class = "text-primary">compulsory cross-country jog</span> on the first weekend of the school term. This event is particularly popular yet unpopular among the students; many approach it with zeal while many an A.H.S student approach the games master with an excuse in an effort to avoid the jog.
	</p>
	<h3 class = "text-info">Exchange Program</h3>
	<p>
	The school has several exchange programs but the longest running ones are <span class = "text-primary">the Brooks Exchange Program</span> and <span class = "text-primary">the Sir John Leeman Exchange Program</span>. There is also <span class = "text-primary">the Governor's Exchange Program</span>.
	</p>
	<p>
	Every year, two form 3 students of outstanding character both inside and outside the classroom are chosen to participate in <span class = "text-primary">the Brooks Exchange Program</span>. The two students usually serve as hosts to two other students from Brooks School. Unlike the Brooks Exchange Program, <span class = "text-primary">the Sir John Leeman Exchange Program</span> takes place once every 2 years. In addition, there are the <span class = "text-primary">Barack Obama Leadership Program</span> and others to various countries such as France, Germany and South Africa. Students also participate in contests such as the <span class = "text-primary">International Mathematical Olympiad</span>.
	</p>
	<h3 class = "text-info">Prefects</h3>
	<p>
	Prefects at the school are usually form 4 students who have shown outstanding leadership abilities at the house level. Most of them are chosen from the house committees. During the first term of the academic year, they are appointed to be prefects by the principal after being nominated and vetted by the house masters.
	</p>
	<p>
The prefects are key to the running of the school. It is they who see that the school routine and school rules are adhered to. They have the authority to punish culprits via the prefect's punishment department. Punishments include washing corridors and rooms, slashing fields and in some extreme cases, working in the school farm or uprooting tree stumps.
	</p>
	<p>
A total of about 100 prefects are chosen each year and among the 100, 28 of the most outstanding prefects are given top honors in becoming <span class = "text-primary">Senior Captains</span>. These Captains are allocated various major departments in the school. The school's departments include: <span class = "text-primary">Dining Hall, Entertainment, Games, Compound, Library, Chapel, IT and Links, Medical, Protocol, Utilities, Sponsorship</span>, and <span class = "text-primary">Academic</span>.
Each department has its department members which vary with the demands of the department. Each house similarly produces a House Captain to be assisted by his Dorm Prefects.
	</p>
	<img class = "img-rounded" style = 'width : 100%; height : auto;' src = "{{url_for('static', filename = 'prefects_homeimage.jpeg')}}">
	<p>
The top five captains are referred to as <span class = "text-primary">the Pentagon</span>. They are <span class = "text-primary">the Governor General, the President, the Dining Hall Captain, the Chief</span>, and <span class = "text-primary">the Guru</span>. The prefects' body is given a name each year, e.g. <span class = "">Martinets (2014), Autocrats (2015), Acculturates (2016), Despotians (2017), Relictans (2018), Nomandians(2019), Luminaries(2020/21)</span> and is governed by the <span class = "text-primary">The Governor General</span> and <span class = "text-primary">The President</span>.
	</p>
	<h3 class = "text-info">Alliance Girls High School</h3>
	<img class = "img-rounded" style = 'width : 100%; height : auto;' src = "{{url_for('static', filename = 'alliance_girls_high_school.webp')}}">
	<p>
	The Alliance High School maintains strong ties with its sister school, Alliance Girls High School, ever since the latter was founded as the <span class = "text-primary">African Girls High School</span> in <span class = "text-primary">1948</span>. Each of the thirteen houses at the Alliance High School have sister houses at Alliance Girls High School. The houses usually participate in an event called Socials that takes place at the end of first and second terms. There is also a joint Christmas Carol service held in the school chapel towards the end of the third term. On Sunday mornings, Muslim students from the girls’ school usually congregate with their male counterparts at the Alliance High School's Carey Francis Memorial Lecture Theater. Mail correspondence between the two schools takes place on a daily basis and is free of charge.
	</p>
	<h3 class = "text-info">Culture</h3>
	<p>
	The Alliance High School community is rich in culture. The form ones take the unpopular tie test before they can be issued with the school's blue tie. This test serves to educate the freshmen on the school's history and current affairs at the school. Upon arrival, every form 1 student is assigned a ‘guardian’ who is a form 2 student that helps the new student find his way around the school in the first few weeks.
	</p>
	<p>
	The <span class = "text-primary">art of 'lifting'</span> is a common practice especially among form two and three students. Lifting is the process of one showing their leadership qualities through various ways so as to be considered for various leadership positions especially as prefects.
	</p>
	<p>
Over the years, the school has opened and closed its term calendar on Thursdays. The first Saturday is often marked with a cross-country race. Closing days are characterized by a school dinner on the closing eve, where students are treated to a sumptuous meal and an award ceremony held. The school is then closed early next morning through a final assembly where the students sing the dismissal hymn, "Lord dismiss us with thy blessing."
	</p>
	<p>
Thursday is a special day at the Alliance High School. On Thursdays, students conduct hymn practice in the chapel, students speak Swahili, fish is served during dinner, among other activities.
	</p>
	<p>
The most popular form of entertainment in the school is the Saturday movies. Every Saturday the entertainment committee which consists of form 2s and 3s and the entertainment department which has about 5 prefects organizes and prepares the Saturday movies. School movies held in the school hall were previously charged sh 20 but are now free to all and sundry. However, the most popular movies are the joint movies that are usually held termly with the Alliance Girls’ School. These used to be held at night but have since been changed to afternoons.
	</p>
	<p>
The high school life is fun and exciting. Various platforms like the drama and music competitions provide students with a chance to showcase their talents. The Dramatic Society organizes the <span class = "text-primary">biggest Comic Show of the entire year</span> called <span class = "text-primary">"Span One"</span> where students simulate the Monday morning School Assembly and try to imitate their teachers. The School Choir also organizes the <span class = "text-primary">Music Night</span> which features presentations not only from the choir but also dances from all the communities in the country.
	</p>
	<h3 class = "text-info">Uniform</h3>
	<p>
	Boys at the school wear <span class = "text-primary">white shirts, khaki shorts, grey stockings with two blue stripes on either side of a red stripe; black or brown shoes; jungle green pullovers</span> and <span class = "text-primary">a blue tie</span>. Grey trousers are worn on <span class = "text-primary">Weekends, Wednesdays</span> and <span class = "text-primary">school events</span> such as on <span class = "text-primary">Founders Day Celebrations</span>. <span class = "text-primary">Junior prefects</span> wear ties with red stripes rather than the conventional blue one while their <span class = "text-primary">senior counterparts'</span> ties are black with red stripes. <span class = "text-primary">Senior commoners</span> wear navy blue ties.
	</p>
	<h3 class = "text-info">Old Boys' Club</h3>
	<p>
	The Alliance High School Old Boys’ Club (AHS OBC) is the alumni association of Alliance High School registered under the Societies Act on 23rd June 1959.
	</p>
	<h4 class = "text-secondary">Objectives</h4>
	<p>
	<ul>
		<li>
			To keep the Old Boys of the Alliance High School in touch with the School and with one another;
		</li>
		<li>
			To encourage Old Boys to live up to the ideals for which the School was founded and to put into practice the motto of the school “Strong to serve”;
		</li>
		<li>
			To assist the school and its old Boys in any suitable manner, in particular in the maintenance and improvement of the standards of learning and conduct;
		</li>
		<li>
			To advance and promote education at the School by providing guidance, resources, material and financial support and collaborating with the School towards advancement of education.
		</li>
	</ul>
	</p>
	<h4 class = "text-secondary">Leadership</h4>
	<p>
	The AHS OBC is led by an Executive Committee comprising of elected and co-opted members. The executive committee is supported in its work by a secretariat. The Executive Committee is comprised of 14 elected and 6 co-opted members.
	</p>
	<p>
	Executive Committee members hold office for a maximum of 2 terms of three years each. At every Annual General Meeting, a third (1/3) of the elected Executive Committee Members shall retire on rotation but with eligibility for re-election.
	</p>
	<table class = "table table-hover table-responsive table-striped">
		<caption><h4>AHS OBC Executive Committee Members</h4></caption>
		<thead>
			<tr>
				<th>Names</th>
				<th>Position</th>
			</tr>
		</thead>
		<tbody>
			{% for obc in obcs %}
			<tr>
				<td>{{obc.first_name}} {{obc.last_name}} {{obc.middle_name}}</td>
				<td>{{obc.status}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
{% endblock page_content %}
